.container {
    min-height: 750px;
    min-width: 750px;
    max-width: 750px;
    max-height: 750px;
    display: grid;
}

.grid-item {
    min-width: 2px;
    min-height: 2px;
    border: 1px solid gray;
    color: transparent;
}