body {
    box-sizing: border-box;
    background-color: rgb(238, 235, 235);
}

.container {
    min-height: 500px;
    min-width: 500px;
    max-width: 500px;
    max-height: 500px;
    display: grid;
}

.padding {
    background-color: #b6b64a;
    padding: 50px 50px 50px 50px;
    border-radius: 25px;
    box-shadow: rgba(48, 46, 46, 0.877) 0px 3px 8px;
}

.grid-item {
    min-width: 2px;
    min-height: 2px;
    background-color: white;
    border: 0.1px solid gray;
}

.main-div {
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
}

.slider {
    width: 100%;
    margin-top: 20px;
}

.d-pad-container {
    display: grid;
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.up {
    grid-column-start: 2;
    grid-column-end: 3;
}

.left {
    grid-column-start: 1;
}

.down {
    grid-column-start: 2;
    grid-row-start: 3;
}

.right {
    grid-column-start: 3;
}

.buttons-container {
    display: grid;
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.button-y {
    grid-column-start: 2;
    grid-column-end: 3;
}

.button-x {
    grid-column-start: 1;
}

.button-a {
    grid-column-start: 2;
    grid-row-start: 3;
}

.button-b {
    grid-column-start: 3;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.select-start {
    display: flex;
}

.buttons-container button {
    border-radius: 100%;
    border: 0.5px solid gray;
}